
/*
---------------------------------------- Border radius ----------------------------------------
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}


@mixin border-radius-specify($top_left:0, $top_right:0, $bottom_right:0, $bottom_left:0)
{
    -webkit-border-radius: $top_left $top_right $bottom_right $bottom_left;
    -khtml-border-radius: $top_left $top_right $bottom_right $bottom_left;
    -moz-border-radius: $top_left $top_right $bottom_right $bottom_left;
    -ms-border-radius: $top_left $top_right $bottom_right $bottom_left;
    border-radius: $top_left $top_right $bottom_right $bottom_left;
}



/*
 ---------------------------------------- Text shadow  ----------------------------------------
*/
@mixin text-shadow($horizOffset:0, $vertOffset:0, $blur:0, $color:"0") {
  -webkit-text-shadow: $horizOffset $vertOffset $blur $color;
  -moz-text-shadow: $horizOffset $vertOffset $blur $color;
  -ms-text-shadow: $horizOffset $vertOffset $blur $color;
  -o-text-shadow: $horizOffset $vertOffset $blur $color;
  text-shadow: $horizOffset $vertOffset $blur $color;
}

@mixin text-shadow-multiple($horizOffset:0, $vertOffset:0, $blur:0, $color:"0",$horizOffset2:0, $vertOffset2:0, $blur2:0, $color2:white) {
  -webkit-text-shadow: $horizOffset $vertOffset $blur $color, $horizOffset2 $vertOffset2 $blur2 $color2;
  -moz-text-shadow: $horizOffset $vertOffset $blur $color, $horizOffset2 $vertOffset2 $blur2 $color2;
  -ms-text-shadow: $horizOffset $vertOffset $blur $color, $horizOffset2 $vertOffset2 $blur2 $color2;
  -o-text-shadow: $horizOffset $vertOffset $blur $color, $horizOffset2 $vertOffset2 $blur2 $color2;
  text-shadow: $horizOffset $vertOffset $blur $color, $horizOffset2 $vertOffset2 $blur2 $color2;
}





/*
 ---------------------------------------- Box shadow  ----------------------------------------
*/

@mixin box-shadow($top, $left, $blur, $shadow, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $shadow $color #{$inset};
  -moz-box-shadow: $top $left $blur $shadow $color #{$inset};
  -ms-box-shadow: $top $left $blur $shadow $color #{$inset};
  -o-box-shadow: $top $left $blur $shadow $color #{$inset};
  box-shadow: $top $left $blur $shadow $color #{$inset};
}


@mixin box-shadow-multiple($horiz:0, $vert:0, $blur:0, $shadow:0, $color:"0",$horiz2:0, $vert2:0, $blur2:0, $shadow2:0, $color2:white) {
  -webkit-box-shadow: $horiz $vert $blur $shadow $color, $horiz2 $vert2 $blur2 $shadow2 $color2;
  -moz-box-shadow: $horiz $vert $blur $shadow $color, $horiz2 $vert2 $blur2 $shadow2 $color2;
  -ms-box-shadow: $horiz $vert $blur $shadow $color, $horiz2 $vert2 $blur2 $shadow2 $color2;
  -o-box-shadow: $horiz $vert $blur $shadow $color, $horiz2 $vert2 $blur2 $shadow2 $color2;
  box-shadow: $horiz $vert $blur $shadow $color, $horiz2 $vert2 $blur2 $shadow2 $color2;
}




/*
 ---------------------------------------- Transition  ----------------------------------------
*/
@mixin transition($property, $duration, $delay, $function) {
  -webkit-transition: $property $duration $delay $function;
  -moz-transition: $property $duration $delay $function;
  -ms-transition: $property $duration $delay $function;
  -o-transition: $property $duration $delay $function;
  transition: $property $duration $delay $function;
}


@mixin transition-delay($property, $duration, $delay, $function)
{
    -webkit-transition: $property $duration $delay $function;
    -moz-transition: $property $duration $delay $function;
    -ms-transition: $property $duration $delay $function;
    -o-transition: $property $duration $delay $function;
    transition: $property $duration $delay $function;
}



/*
 ---------------------------------------- Background Linear  ----------------------------------------
*/
@mixin background-linear($color1, $color2) {
  -webkit-background: linear-gradient($color1, $color2);
  -moz-background: linear-gradient($color1, $color2);
  -ms-background: linear-gradient($color1, $color2);
  -o-background: linear-gradient($color1, $color2);
  background: linear-gradient($color1, $color2);
}



/*
 ---------------------------------------- User select  ----------------------------------------
*/
@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}



/*
 ---------------------------------------- Background color  ----------------------------------------
*/
@mixin background-color($color) {
  -webkit-background-color: $color;
  -khtml-background-color: $color;
  -moz-background-color: $color;
  -ms-background-color: $color;
  background-color: $color;
}



/*
 ---------------------------------------- Box sizing  ----------------------------------------
*/
@mixin box-sizing($thisBox)
{
    -webkit-box-sizing: $thisBox;
    -khtml-box-sizing: $thisBox;
    -moz-box-sizing: $thisBox;
    -ms-box-sizing: $thisBox;
    box-sizing: $thisBox;
}



/*
 ---------------------------------------- Grid column  ----------------------------------------
*/
@mixin gridCols($rows: 4, $padding: 0 10px, $margin: 0 0 22px 0, $gutter: 20px) {
    //width: ($max-width / $columns) * $rows - $gutter;
    width: (100% / $columns) * $rows;
    max-width: 100%;
    float: left;
    padding: $padding;
    margin: $margin;
    @include box-sizing(border-box);
}