/*------------------------------ MESSAGE BUBBLE
----------------------------------------------------------------------------------------------------*/

#messagebox {
    z-index: 150;
    position: fixed;
    top: 20px;
    right: 20px;
}

#messagebox .message {
    padding: 7px 13px 7px 13px;
    font-size: 1.4rem;
    border-radius: 3px;
}


#messagebox .message:not(:first-child) {
    margin-top: 10px;
}

#messagebox .ok {
    background: #b3f2af;
    -webkit-box-shadow: 0 0 15px 1px #387a3d ;
    -moz-box-shadow: 0 0 15px 1px #387a3d ;
    -ms-box-shadow: 0 0 15px 1px #387a3d ;
    -o-box-shadow: 0 0 15px 1px #387a3d ;
    box-shadow: 0 0 15px 1px #387a3d ;
    border: solid 1px #289015;
    color: #0e6d01;
}

#messagebox .error {
    background: #f6a3a3;
    border: solid 1px #901515;
    color: #990606;
    -webkit-box-shadow: 0 0 15px 1px #784646 ;
    -moz-box-shadow: 0 0 15px 1px #784646 ;
    -ms-box-shadow: 0 0 15px 1px #784646 ;
    -o-box-shadow: 0 0 15px 1px #784646 ;
    box-shadow: 0 0 15px 1px #784646 ;
}
